<div id="footer-links">
  <a id="link-to-doc" class='icon-help'><%= link_to _('Manual'), '/doc' %></a>
</div><!-- end id="footer-links" -->
<div id="copyright">
  <p><%= _('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/') %></p>
</div><!-- end id="copyright" -->
<!--<%= language_chooser(environment) %> -->




    	<footer>
    		<div class="footer-atalhos">
    			<div class="container2">
    				<div class="pull-right voltar-ao-topo"><a href="#portal-siteactions"><i class="icon-chevron-up"></i>&nbsp;Voltar para o topo</a></div>
    			</div>
    		</div>
    		<div class="container2 container-menus">
    			<div id="footer" class="row footer-menus">
    				<span class="hide">Início da navegação de rodapé</span>
    				<div class="span3">
						<nav class="row assuntos nav">
							<h2>Assuntos</h2>
							<ul>
								<li><a href="#" title="Editoria A">Editoria A</a></li>
								<li><a href="#" title="Editoria B">Editoria B</a></li>
								<li><a href="#" title="Editoria C">Editoria C</a></li>								
							</ul>
						</nav>    					
    				</div>
					<div class="span3">
						<nav class="row servicos nav">
							<h2>Serviços</h2>
							<ul>
								<li class="portalservicos-item">
									<a title="Perguntas frequentes" href="#">Perguntas frequentes</a>
								</li>
								<li class="portalservicos-item">
									<a title="Contato" href="#">Contato</a>
								</li>
								<li class="portalservicos-item">
									<a title="Serviços da [Denominação]" href="#">Serviços da [Denominação]</a>
								</li>
								<li class="portalservicos-item">
									<a title="Dados abertos" href="#">Dados abertos</a>
								</li>
								<li class="portalservicos-item">
									<a title="Área de imprensa" href="#">Área de imprensa</a>
								</li>
							</ul>
						</nav>							
					</div>
					<div class="span3">
						<nav class="row redes-sociais nav">
							<h2>Redes Sociais</h2>
							<ul>
								<li class="portalredes-item"><a title="Twitter" href="https://twitter.com/twitter">
	    							Twitter</a>
	    						</li>
	    						<li class="portalredes-item"><a title="YouTube" href="http://youtube.com/youtube">
	    							Youtube</a>
	    						</li>
	    						<li class="portalredes-item"><a title="Facebook" href="http://facebook.com/facebook">
	    							Facebook</a>
	    						</li>
	    						<li class="portalredes-item"><a title="Flickr" href="http://flickr.com/flickr">
	    							Flickr</a>
	    						</li>
							</ul>
						</nav>						
					</div>
					<div class="span3">
						<nav class="row rss nav">
							<h2>RSS</h2>
							<ul>
								<li><a href="#" title="O que é?">O que é?</a></li>
								<li><a href="#" title="Assine">Assine</a></li>
							</ul>
						</nav>
						<nav class="row sobre nav">
							<h2>Navegação</h2>
							<ul>
								<li><a href="#">Acessibilidade</a></li>
								<li><a href="#">Mapa do site</a></li>
								<li><a href="#">Versión en Español</a></li>
								<li><a href="#">English version</a></li>
							</ul>
						</nav>
					</div>
					<span class="hide">Fim da navegação de rodapé</span>					
    			</div>
    			<!-- fim .row -->
    		</div>
    		<!-- fim .container2 -->
			<div class="footer-logos">
				<div class="container2">
					<a href="http://www.acessoainformacao.gov.br/" class="logo-acesso pull-left"><img src="/designs/themes/softwarepublico/images/acesso-a-informacao.png" alt="Acesso a Informação"></a>
					<!-- separador para fins de acessibilidade --><span class="hide">&nbsp;</span><!-- fim separador para fins de acessibilidade -->
					<a href="http://www.brasil.gov.br/" class="brasil pull-right"><img src="/designs/themes/softwarepublico/images/brasil.png" alt="Brasil - Governo Federal"></a>
				</div>				
			</div>		
			</div>
    		<div class="footer-atalhos visible-phone">
    			<div class="container2">
    				<span class="hide">Fim do conteúdo da página</span>
    				<div class="pull-right voltar-ao-topo"><a href="#portal-siteactions"><i class="icon-chevron-up"></i>&nbsp;Voltar para o topo</a></div>
    			</div>
    		</div>
    	</footer>




	<!-- scripts principais -->	
	<script src="/designs/themes/softwarepublico/js/jquery.min.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
	<script src="/designs/themes/softwarepublico/js/jquery-noconflict.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
	<script src="/designs/themes/softwarepublico/bootstrap/js/bootstrap.min.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
	<script src="/designs/themes/softwarepublico/js/jquery.cookie.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
	<script src="/designs/themes/softwarepublico/js/template.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
	<script src="/designs/themes/softwarepublico/jplayer/js/jquery.jplayer.min.js" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>



	<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function(){
		urls = {mp3:"http://tv1-lnx-04.grupotv1.com/portalmodelo/conteudos-de-marcacao/audio-1-titulo-do-audio-1/audio-1-nome-do-audio.mp3"};	
		playAudio("#jquery_jplayer_1", urls, "mp3", "jplayer/");
	});
	//]]>
	</script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>
	<!-- Script do portal Brasil deve ficar preferencialmente no rodape para nao atrasar o carregamento da pagina principal -->
	<script src="http://barra.brasil.gov.br/barra.js?cor=verde" type="text/javascript"></script><noscript>&nbsp;<!-- item para fins de acessibilidade --></noscript>


