	<!--[if lt IE 7]><center><strong>Atenção, a versão de seu navegador não é compatível com este sítio. Atualize seu navegador.</strong></center><![endif]-->
	<!-- barra do governo -->
	<div id="barra-brasil">
		<a href="http://brasil.gov.br" title="Acesse para conhecer todos os serviços e informações do Governo Brasileiro na Internet.">Portal do Governo Brasileiro</a>		
    </div>
    <!-- fim barra do governo -->


 <nav class="navbar navbar-default" role="navigation">
    	<header>
    		<div class="container2"> 
	    		<div class="row-fluid accessibility-language-actions-container">    			   			
					<div class="span6 accessibility-container">
						<ul id="accessibility">
							<li>
								<a accesskey="1" href="#content" id="link-conteudo">
									Ir para o conte&uacute;do
									<span>1</span>
								</a>
							</li>
							<li>
								<a accesskey="2" href="#navigation" id="link-navegacao">
									Ir para o menu
									<span>2</span>
								</a>
							</li>
							<li>
								<a accesskey="3" href="#portal-searchbox" id="link-buscar">
									Ir para a busca
									<span>3</span>
								</a>
							</li>
							<li>
								<a accesskey="4" href="#footer" id="link-rodape">
									Ir para o rodap&eacute;
									<span>4</span>
								</a>
							</li>
						</ul>						
					</div>
					<!-- fim div.span6 -->
					<div class="span6 language-and-actions-container">
						<ul id="language" class="pull-right">
							<li class="language-en">
								<a href="#">ENGLISH</a>
							</li>
							<li class="language-es">
								<a href="#">ESPAÑOL</a>
							</li>
						</ul>					
						<ul id="portal-siteactions" class="pull-right">
							<li>
								<a accesskey="5" href="/interna-acessibilidade.html">Acessibilidade</a>
							</li>
							<li>
								<a accesskey="6" href="#" class="toggle-contraste">Alto Contraste</a>
							</li>
							<li>
								<a accesskey="7" href="#">Mapa do Site</a>
							</li>
						</ul>
					</div>
					<!-- fim div.span6 -->    
				</div>
				<!-- fim .row-fluid -->
				<div class="row-fluid">
					<div id="logo" class="span8">
					<!-- <div id="logo" class="span8 big"> <div id="logo" class="span8 small"> -->
						<a href="/" title="Portal do Software Público">							
							
							<img src="/designs/themes/softwarepublico/images/logotipo.png"/>
						</a>
					</div>
					<!-- fim .span8 -->
					<div class="span4">					
						<div id="portal-searchbox" class="row">


							  <form action="/search" id="top-search"  method="GET" class="navbar-form navbar-right hidden-xs hidden-sm" role="search">

								<fieldset>
									<legend class="hide">Busca</legend>
									<h2 class="hidden">Buscar no portal</h2>
									<div class="input-append">

							    <div class="form-group">
							      <label class="sr-only" for="header-searchbox">{% trans 'Search here...' %}</label>
							      <input name="query" id="top-search" 
								onfocus="this.form.className='focused';" onblur="this.form.className=''" 
								     class="searchField" value=""
								     type="search" placeholder="Search here..." />
							    </div>
							   <!--<button type="submit" class="btn searchButton"><span class="hide">Buscar</span><i class="icon-search"></i></button> -->

							</div>									
								</fieldset>

								    <script type="text/javascript">
								//<![CDATA[
								jQuery("#user form input").hint();
								//]]>
								</script>

							  </form>

							
						</div>
							<!-- fim div#portal-searchbox.row -->

						<div id="social-icons" class="row">
							<h2 class="hidden">Redes Sociais</h2>
							<ul class="pull-right">
								<li class="portalredes-item"><a title="Twitter" href="https://twitter.com/twitter">
									<i class="icon-twitter-sign"><span>Twitter</span></i></a>
	    						</li>
	    						<li class="portalredes-item"><a title="YouTube" href="http://youtube.com/youtube">
	    							<i class="icon-youtube"><span>Youtube</span></i></a>
	    						</li>
	    						<li class="portalredes-item"><a title="Facebook" href="http://facebook.com/facebook">
	    							<i class="icon-facebook-sign"><span>Facebook</span></i></a>
	    						</li>
	    						<li class="portalredes-item"><a title="Flickr" href="http://flickr.com/flickr">
	    							<i class="icon-flickr"><span>Flickr</span></i></a>
	    						</li>
							</ul>
						</div>
						<!-- fim div#social-icons.row -->
							
<br>

			<!--<div class="sobre">
				      <div class="container2">

					<div class="collapse navbar-collapse navbar-main">
					  <ul class="nav navbar-nav">
					   <li>
					      <a href="/thread_list">usu</a>
					    </li>
					    <li>
					      <a href="/feedzilla_index">News</a>
					    </li>
					    <li>
					      <a href="/redmine">Redmine</a>
					    </li>
					    <li>
					      <a href="/svn">SVN</a>
					    </li>
					    <li>
					      <a href="/gitlab">Gitlab</a>
					    </li> 
					    <li class="hidden-lg hidden-md">
					      <a href="/haystack_search/?q=">Search</a>
					    </li>
					  </ul> 


					</div> -->
				 <!--</div> -->
				<!-- .container2 -->
			</div>
			<!-- fim .sobre -->			
    	</header>

    </nav>


